/* Resetowanie stylów dla elementów */
html, body, h1, h2, p, ul, li, button, form, input, textarea {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cormorant', serif;
    background-color: #ffffff;
    color: #333333;
}

/* Ustawienia kolorów */
:root {
    --primary-color: #29166dff;     /* Kolor główny 1 */
    --secondary-color: #0579c5ff;   /* Kolor główny 2 */
    --accent-color: #74c5f7ff;      /* Kolor akcentu */
}

/* Stylizacja stopki */
footer {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo img {
    max-width: 100px;
    height: auto;
}

.footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: var(--accent-color);
}

.footer-contact p {
    margin: 0;
}

.footer-bottom {
    background-color: var(--secondary-color);
    padding: 10px 0;
}

.footer-bottom p {
    text-align: center;
    margin: 0;
    color: white;
}

/* Styl dla panelu nawigacyjnego */
.navbar {
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 50px; /* Dostosuj rozmiar logo */
}

.logotype a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

/* Styl dla mega menu */
.mega-content {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: var(--primary-color);
    padding: 10px;
    z-index: 1001;
}

.menu li:hover .mega-content {
    display: block;
}

.mega-content ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mega-content a {
    color: #ffffff;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
}


/* Styl sekcji "call to action" */
.content {
    text-align: center;
}

.about, .offer, .service {
    padding: 100px 0;
    background-color: #74c5f7ff;
    position: relative;
    z-index: 1;
}

.about h2, .offer h2, .service h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p, .offer p, .service p {
    font-size: 18px;
    margin-bottom: 30px;
}

.about button, .offer button, .service button {
    background-color: #0579c5ff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Styl obrazu "Aplikacja" */
.mobile-app {
    background-image: url('app-image.jpg'); /* Dodaj ścieżkę do obrazu */
    background-size: cover;
    background-position: right center;
    color: #ffffff;
    padding: 100px 0;
    position: relative;
    z-index: 2;
}

.mobile-app h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.mobile-app p {
    font-size: 18px;
    margin-bottom: 30px;
}

.mobile-app button {
    background-color: #0579c5ff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Styl sekcji "Możliwości" */
.capabilities {
    padding: 50px 0;
    background-image: url('capabilities-bg.jpg'); /* Dodaj ścieżkę do obrazu */
    background-size: cover;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.capabilities h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.capabilities-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.capability {
    text-align: center;
}

.capability img {
    max-width: 100px;
    margin-bottom: 20px;
}
/* Styl formularza kontaktowego */
.contact {
    text-align: center;
}

.contact form {
    max-width: 80ch;
    margin: 0 auto;
}

.contact label, .contact input, .contact textarea {
    display: block;
    margin-bottom: 20px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact button[type="submit"] {
    background-color: #0579c5ff;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact button[type="submit"]:hover {
    background-color: #74c5f7ff;
}
